export CALICO_VER=v3.31.4
export CERT_MANAGER_VER=v1.20.0
export CILIUM_VER=v1.19.1
export CILIUM_VER_MINUS_1=v1.19.0
export CILIUM_CLI_VERSION=v0.19.2
export CILIUM_ENVOY_VER=v1.35.9
export HUBBLE_VERSION=v1.18.6
export CMCTL_VER=v2.4.1
export FOREACH_VER=v0.3.0
export FZF_VER=v0.70.0
export HELM_VER=v4.1.3
export KUSTOMIZE_VER=v5.8.1
export K9S_VER=v0.50.18
export KIND_VER=v0.31.0
export DH_NAMESPACE=tsanghan
export KINDEST_NODE_VER="v1.35.3@sha256:8477c40aa2fb532a8c829549e3bbcde03cdabe2b7bf147535699f589d8d96b52"
export TSANGHAN_CERTS_20M_NODE_VER="v1.29.3-certs-20m@sha256:61efc7bea8618d0e7360f5297891f9117565e4f14893e4fe4f66e4a446ea9613"
export KUBECTX_VER=v0.9.5
export KUBE_PS1_VER=v0.9.0
export KUBE_ROUTER_VER=v2.8.0
export LINKERD2_CLI_VER=edge-26.3.3
export NGINX_VER=1.29.6
export NGINX_IC_VER=5.3.4
export NICOLAKA_NETSHOOT_VER=v0.15
export METALLB_VER=v0.15.3
export METRICS_SERVER_VER=v0.8.1
export YQ_VER=v4.52.4
export KUBE_VER=v1.35.3
export KUBE_VER_FOR_SOURCE_LIST=v1.35
export KUBE_VER_FOR_APT=1.35.3-1.1
export ENVSUB_VER=v1.4.3
export KUBELINTER_VER=v0.8.3
export KLOCK_VER=v0.8.4
export TALOS_VER=v1.12.6
export GWCTL_VER=v0.2.0
export XH_VER=v0.25.3
export FRROUTING_VER=10.4.1
export BAT_VER=v0.26.1
export FD_VER=v10.4.2
export RIPGREP_VER=15.1.0
export KREW_VER=v0.5.0
export ZOXIDE_VER=v0.9.9
export BITNAMI_MONGODB_HELM_CHART_VER=18.6.16
export MCK_HELM_CHART_VER=1.7.0
export YAMLFMT_VER=v0.21.0
export DIRENV_VER=v2.37.1
export UV_VER=0.10.12
export STARSHIP_VER=v1.24.2
export EZA_VER=v0.23.4
export GATEWAY_API_VER=v1.5.1
export ENVOYGATEWAY_VER=v1.7.1
