export CALICO_VER=v3.31.3
export CERT_MANAGER_VER=v1.19.3
export CILIUM_VER=v1.19.0
export CILIUM_VER_MINUS_1=v1.19.-1
export CILIUM_CLI_VERSION=v0.19.0
export CILIUM_ENVOY_VER=v1.35.9
export HUBBLE_VERSION=v1.18.6
export CMCTL_VER=v2.4.0
export FOREACH_VER=v0.3.0
export FZF_VER=v0.67.0
export HELM_VER=v4.1.1
export KUSTOMIZE_VER=v5.8.1
export K9S_VER=v0.50.18
export KIND_VER=v0.31.0
export DH_NAMESPACE=tsanghan
export KINDEST_NODE_VER="v1.35.1@sha256:29e0d4d459274d1856f958967e90cf58a5c7b610b24e7471e02cab159dff1bd3"
export TSANGHAN_CERTS_20M_NODE_VER="v1.29.3-certs-20m@sha256:61efc7bea8618d0e7360f5297891f9117565e4f14893e4fe4f66e4a446ea9613"
export KUBECTX_VER=v0.9.5
export KUBE_PS1_VER=v0.9.0
export KUBE_ROUTER_VER=v2.6.3
export LINKERD2_CLI_VER=edge-26.1.4
export NGINX_VER=1.28.2
export NGINX_IC_VER=5.3.3
export NICOLAKA_NETSHOOT_VER=v0.15
export METALLB_VER=v0.15.3
export METRICS_SERVER_VER=v0.8.1
export YQ_VER=v4.52.2
export KUBE_VER=v1.35.1
export KUBE_VER_FOR_SOURCE_LIST=v1.35
export KUBE_VER_FOR_APT=1.35.1-1.1
export ENVSUB_VER=v1.4.3
export KUBELINTER_VER=v0.8.1
export KLOCK_VER=v0.8.2
export TALOS_VER=v1.12.3
export GWCTL_VER=v0.2.0
export XH_VER=v0.25.3
export FRROUTING_VER=10.4.1
export BAT_VER=v0.26.1
export FD_VER=v10.3.0
export RIPGREP_VER=15.1.0
export KREW_VER=v0.4.5
export ZOXIDE_VER=v0.9.9
export BITNAMI_MONGODB_HELM_CHART_VER=18.4.8
export MCK_HELM_CHART_VER=1.7.0
export YAMLFMT_VER=v0.21.0
export DIRENV_VER=v2.37.1
export UV_VER=0.10.2
export STARSHIP_VER=v1.24.2
export EZA_VER=v0.23.4
